<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlinkData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SlinkData.Properties.Settings>
            <setting name="ShowOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPubsSize" serializeAs="String">
                <value>1000, 400</value>
            </setting>
            <setting name="ShowPubsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowFestivalsSize" serializeAs="String">
                <value>1000, 400</value>
            </setting>
            <setting name="ShowFestivalsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowPeopleSize" serializeAs="String">
                <value>1000, 400</value>
            </setting>
            <setting name="ShowPeopleLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowTownsSize" serializeAs="String">
                <value>1000, 400</value>
            </setting>
            <setting name="ShowTownsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowLinksSize" serializeAs="String">
                <value>1000, 400</value>
            </setting>
            <setting name="ShowLinksLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </SlinkData.Properties.Settings>
    </userSettings>
</configuration>